<div class="jumbotron">
    <h1 class="display-4">Student Details</h1>
</div>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Class</th>
            </tr>
        </thead>
        <tbody>
            {{#each student}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.age}}</td>
                <td>{{this.gender}}</td>
                <td>{{this.class}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
